<div class='wrapper'>

	<aside id='sidebar'>
		<div class='h-100'>
			<div class='sidebar-logo'>
				<a href='#'>BackOffice</a>
			</div>

			<ul class='sidebar-nav'>
				<li class='sidebar-header'>
					Acciones del Sistema
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminPaciente'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Pacientes
					</a>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminOrdenTrabajo'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Ordenes de Trabajo
					</a>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminExamen'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Examenes
					</a>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminMuestra'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Muestras
					</a>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminDeterminacion'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Determinaciones
					</a>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminValorReferencia'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Administrar Valores de Referencia
					</a>
				</li>

				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#AdminUsario'
						aria-expanded='false'
						aria-controls='AdminUsario'
					>
						<i class='fa-regular fa-user pe-2'></i>
						Administrar Usuario
					</a>
					<ul
						id='AdminUsario'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link' id='adminRecepcion'>Administrar
								Recepción</a>
						</li>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='formulario-busqueda'
							>Administrar Bioquímico</a>
						</li>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='formulario-busqueda'
							>Administrar Técnico Bioquímico</a>
						</li>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='formulario-busqueda'
							>Administrar Admin</a>
						</li>
					</ul>
				</li>

				<li class='sidebar-item'>
					<a href='#' class='sidebar-link collapsed' id='adminAuditoria'>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Auditoria
					</a>
				</li>

				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#informe'
						aria-expanded='false'
						aria-controls='informe'
					>
						<i class='fa-solid fa-print pe-2'></i>
						Informe
					</a>
					<ul
						id='informe'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Generar Informe</a>
						</li>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Informe</a>
						</li>
					</ul>
				</li>

				<li class='sidebar-header'>
					Navegador de Soluciones
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#ayuda'
						aria-expanded='false'
						aria-controls='ayuda'
					>
						<i class='fa-solid fa-circle-info pe-2'></i>
						Ayuda y Reporte de Problemas
					</a>
					<ul
						id='ayuda'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Ayuda</a>
						</li>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Reportar Problemas</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>
	<!-- Main Component -->
	<div class='main'>
		<nav class='navbar navbar-expand px-3 border-bottom'>
			<!-- Button for sidebar toggle -->
			<button class='btn' type='button' data-bs-theme='dark'>
				<span class='navbar-toggler-icon'></span>
			</button>
		</nav>
		<main class='content px-3 py-2'>
			<div class='container-fluid'>
				<div class='mb-3'>
					<h3>Bienvenido al Sistema</h3>
				</div>
				<div class='row d-none' id='viewsPaciente'>
					<div class='col-12'>

						<table
							class='table table-striped display compact text-center'
							id='tablaDePacientes'
						>
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>DNI</th>
									<th>Localidad</th>
									<th>Provincia</th>
									<th>Sexo</th>
									<th>Embarazo</th>
									<th>Fecha de Nacimiento</th>
									<th>Correo Electrónico</th>
									<th>Teléfono</th>
									<th>Obra Social</th>
									<th>Número de Afiliado</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>

					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-3' id='form-examen'>
						<form action='/examen' method='POST' id='form' class='d-none'>
							<h3 class='text-center'>Registro de Examen</h3>
							<div class='mb-3'>
								<label for='idExamen' class='form-label'>ID de Examen</label>
								<input
									type='number'
									class='form-control'
									id='idExamen'
									name='idExamen'
									readonly
								/>
							</div>
							<div class='mb-3'>
								<label for='codigo' class='form-label'>Codigo</label>
								<input
									type='text'
									class='form-control'
									id='codigo'
									name='codigo'
									placeholder='codigo'
								/>
							</div>
							<div class='mb-3'>
								<label for='descripcion' class='form-label'>Descripcion</label>
								<input
									type='text'
									class='form-control'
									id='descripcion'
									name='descripcion'
									placeholder='descripcion'
								/>
							</div>
							<div class='mb-3'>
								<label for='requisitosExamen' class='form-label'>Requisitos
									Examen</label>
								<input
									type='text'
									class='form-control'
									id='requisitosExamen'
									name='requisitosExamen'
									placeholder='requisitosExamen'
								/>
							</div>
							<div class='mb-3'>
								<label for='tiempoDeExamen' class='form-label'>Tiempo de Examen</label>
								<input
									type='text'
									class='form-control'
									id='tiempoDeExamen'
									name='tiempoDeExamen'
									placeholder='tiempoDeExamen'
								/>
							</div>
							<div class='mb-3'>
								<button
									type='submit'
									class='mb-3 btn btn-primary'
									id='guardarExamen'
								>Guardar</button>
								<button
									type='button'
									class='mb-3 btn btn-success'
									id='actualizarExamen'
								>Actualizar</button>
								<button
									type='button'
									class='mb-3 btn btn-danger'
									id='borrarExamen'
								>Eliminar</button>
							</div>
						</form>
					</div>
				</div>

				<div id='row'>
					<div class='offset-md-5' id='form-examen'>
						<button
							type='submit'
							class='mb-3 btn btn-primary d-none'
							id='agregarDeterminacion'
						>Agregar Determinacion</button>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-3'>
						<form
							action='/muestra'
							method='POST'
							id='formMuestra'
							class='d-none'
						>
							<h3 class='text-center'>Registro de Muestras</h3>
							<div class='mb-3'>
								<label for='idMuestra' class='form-label'>ID de Muestra </label>
								<input
									type='number'
									class='form-control'
									id='idMuestra'
									name='idMuestra'
									readonly
								/>
							</div>
							<div class='mb-3'>
								<label for='tipo' class='form-label'>Tipo</label>
								<select type='text' class='form-control' id='tipo' name='tipo'>
									<option value=''>Seleccionar Muestra</option>
									<option value='Sangre'>Sangre</option>
									<option value='Orina'>Orina</option>
									<option value='Saliva'>Saliva</option>
									<option value='Tejidos'>Tejidos</option>
									<option value='Heces'>Heces</option>
									<option value='Sudor'>Sudor</option>
								</select>
							</div>
							<div class='mb-3'>
								<label for='descripcion' class='form-label'>Descripcion</label>
								<input
									type='text'
									class='form-control'
									id='descripcion1'
									name='descripcion'
									placeholder='descripcion'
								/>
							</div>
							<div class='mb-3'>
								<label for='idExamen' class='form-label'>ID de Examen</label>
								<input
									type='number'
									class='form-control'
									id='idExamen1'
									name='idExamen'
									placeholder='idExamen'
									readonly
								/>
							</div>
							<div class='row'>
								<div class='offset-md-4' id='form-examen'>
									<button
										type='submit'
										class='mb-3 btn btn-primary'
										id='guardarMuestra'
									>Guardar</button>
									<button
										type='button'
										class='mb-3 btn btn-success'
										id='actualizarMuestra'
									>Actualizar</button>
									<button
										type='button'
										class='mb-3 btn btn-danger'
										id='borrarMuestra'
									>Eliminar</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-3'>
						<form
							action='/determinacion'
							method='POST'
							id='formDeterminacion'
							class='d-none'
						>
							<h3 class='text-center'>Registro Determinacion</h3>
							<div class='mb-3'>
								<label for='idDeterminacion' class='form-label'>ID de
									Determinacion
								</label>
								<input
									type='number'
									class='form-control'
									id='idDeterminacion'
									name='idDeterminacion'
									readonly
								/>
							</div>
							<div class='mb-3'>
								<label for='nombre' class='form-label'>nombre</label>
								<input
									type='text'
									class='form-control'
									id='nombreDeterminacion'
									name='nombre'
									placeholder='nombre'
								/>

							</div>
							<div class='mb-3'>
								<label for='descripcion' class='form-label'>Descripcion</label>
								<input
									type='text'
									class='form-control'
									id='descripcion2'
									name='descripcion'
									placeholder='descripcion'
								/>
							</div>
							<div class='mb-3'>
								<label
									for='unidadMedida'
									class='form-label'
								>unidadMedida</label>
								<input
									type='text'
									class='form-control'
									id='unidadMedida'
									name='unidadMedida'
									placeholder='unidadMedida'
								/>
							</div>
							<div class='mb-3'>
								<label
									for='metodoAnalisis'
									class='form-label'
								>metodoAnalisis</label>
								<input
									type='text'
									class='form-control'
									id='metodoAnalisis'
									name='metodoAnalisis'
									placeholder='metodoAnalisis'
								/>
							</div>
							<div class='mb-3'>
								<label for='idExamen' class='form-label'>ID de Examen</label>
								<input
									type='number'
									class='form-control'
									id='idExamen2'
									name='idExamen'
									placeholder='idExamen'
									readonly
								/>
							</div>
							<div class='row'>
								<div class='offset-md-3' id='form-examen'>
									<button
										type='submit'
										class='mb-3 btn btn-primary'
										id='guardarDeterminacion'
									>Guardar</button>
									<button
										type='button'
										class='mb-3 btn btn-success'
										id='actualizarDeterminacion'
									>Actualizar</button>
									<button
										type='button'
										class='mb-3 btn btn-danger'
										id='borrarDeterminacion'
									>Eliminar</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-8 offset-md-2'>
						<div id='table-examen' class='text-center'>

						</div>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-2'>
						<div id='table-muestras' class='text-center'>

						</div>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-2'>
						<div id='table-determinacion' class='text-center'>

						</div>
					</div>
				</div>

				<div id='row'>
					<div class='col-lg-6 offset-md-3'>
						<form
							action='/valorReferencia'
							method='POST'
							id='formValorReferencia'
							class='d-none'
						>
							<h3 class='text-center'>Registro de Valor Referencia</h3>
							<div class='mb-3'>
								<label for='idValorReferencia' class='form-label'>ID de Valor
									Referencia</label>
								<input
									type='number'
									class='form-control'
									id='idValorReferencia'
									name='idValorReferencia'
									readonly
								/>
							</div>
							<div class='mb-3'>
								<label for='sexo' class='form-label'>Sexo</label>
								<input
									type='text'
									class='form-control'
									id='sexo'
									name='sexo'
									placeholder='sexo'
								/>
							</div>
							<div class='mb-3'>
								<label for='edadMinima' class='form-label'>Edad Minima</label>
								<input
									type='text'
									class='form-control'
									id='edadMinima'
									name='edadMinima'
									placeholder='edadMinima'
								/>
							</div>
							<div class='mb-3'>
								<label for='edadMaxima' class='form-label'>Edad Maxima</label>
								<input
									type='text'
									class='form-control'
									id='edadMaxima'
									name='edadMaxima'
									placeholder='edadMaxima'
								/>
							</div>
							<div class='mb-3'>
								<label for='valorMinimo' class='form-label'>Valor Minimo</label>
								<input
									type='text'
									class='form-control'
									id='valorMinimo'
									name='valorMinimo'
									placeholder='valorMinimo'
								/>
							</div>
							<div class='mb-3'>
								<label for='valorMaximo' class='form-label'>Valor Maximo</label>
								<input
									type='text'
									class='form-control'
									id='valorMaximo'
									name='valorMaximo'
									placeholder='valorMaximo'
								/>
							</div>
							<div class='mb-3'>
								<label for='embarazo' class='form-label'>Embarazo</label>
								<input
									type='text'
									class='form-control'
									id='embarazo'
									name='embarazo'
									placeholder='embarazo'
								/>
							</div>
							<div class='mb-3'>
								<label for='idDeterminacion' class='form-label'>Id Determinacion</label>
								<input
									type='text'
									class='form-control'
									id='idDeterminacion'
									name='idDeterminacion'
									placeholder='idDeterminacion'
								/>
							</div>
							<div class='offset-md-4'>
								<button
									type='submit'
									class='mb-3 btn btn-primary'
									id='guardarValorReferencia'
								>Guardar</button>
								<button
									type='button'
									class='mb-3 btn btn-success'
									id='actualizarValorReferencia'
								>Actualizar</button>
								<button
									type='button'
									class='mb-3 btn btn-danger'
									id='borrarValorReferencia'
								>Borrar</button>
							</div>
						</form>
					</div>
				</div>

			</div>
			<div class='container d-none' id='userRecepcionista'>
				<h2>Tabla de Recepcionistas</h2>
				<div class='row d-flex flex-column mb-3 text-center'>
					<label for='ususarioRecpcion' class='form-label'>Crear Usuario
						Recepción</label>
					<div class='col-12 d-flex justify-content-center text-center'>
						<button
							type='button'
							class='btn btn-success btn-lg'
							id='crearRecepcion'
						>Crear</button>
					</div>
				</div>
				<table
					class='table table-striped display compact text-center'
					id='tableUserRecepion'
				>
					<thead>
						<tr>
							<th>ID Recepcionista</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>DNI</th>
							<th>Teléfono</th>
							<th>Correo</th>
							<th>Contraseña</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class='container d-none col-lg-6 offset-md-3' id='formUserRecep'>
				<h2>Formulario para Crear Recepcionista</h2>
				<form action='/recepcionista' method='POST'>
					<div class='mb-3'>
						<label for='nombre' class='form-label'>Nombre</label>
						<input
							type='text'
							class='form-control'
							id='nombre'
							name='nombre'
							required
						/>
					</div>
					<div class='mb-3'>
						<label for='apellido' class='form-label'>Apellido</label>
						<input
							type='text'
							class='form-control'
							id='apellido'
							name='apellido'
							required
						/>
					</div>
					<div class='mb-3'>
						<label for='dni' class='form-label'>DNI</label>
						<input
							type='text'
							class='form-control'
							id='dni'
							name='dni'
							required
						/>
					</div>
					<div class='mb-3'>
						<label for='telefono' class='form-label'>Teléfono</label>
						<input
							type='text'
							class='form-control'
							id='telefono'
							name='telefono'
							required
						/>
					</div>
					<div class='mb-3'>
						<label for='correo' class='form-label'>Correo</label>
						<input
							type='email'
							class='form-control'
							id='correo'
							name='correo'
							required
						/>
					</div>
					<input
						type='hidden'
						id='usuarioIdUsuario'
						name='usuarioIdUsuario'
						value=''
					/>

					<button type='submit' class='btn btn-success' id='btnCrearRecep'>Crear
						Recepcionista</button>
				</form>
			</div>

		</main>
	</div>
</div>