<header class='navbar sticky-top flex-md-nowrap s-60' style=''><div
		class='container-fluid'
	><div class='navbar-brand d-flex align-items-end'>
			<span class='version' aria-hidden='true'>Clinica Doña ADN</span></div><button
			class='navbar-toggler position-absolute d-lg-none collapsed'
			type='button'
			data-bs-toggle='collapse'
			id='btnSidebar'
			data-bs-target='#sidebarMenu'
			aria-controls='sidebarMenu'
			aria-expanded='false'
			aria-label='Menú principal'
			tabindex='0'
		><div id='nav-icon'><span></span>
				<span></span>
				<span></span>
				<span></span></div></button><div
			id='buscador'
			class='flex-grow-1 mx-lg-3 d-lg-block collapse'
		><div class='input-group'><input
					type='search'
					class='form-control basicAutoComplete'
					placeholder='Buscar…'
					autocomplete='off'
					aria-label='Ingresá el texto para buscar'
				/></div></div><ul class='nav nav-pills' role='navigation'><li
				class='nav-item'
			><button
					class='btn btn-secondary ms-2 ms-xl-3 d-lg-none toggler no-label collapsed'
					type='button'
					data-bs-toggle='collapse'
					data-bs-target='#buscador'
					aria-controls='buscador'
					aria-expanded='false'
					aria-label='Buscar'
				> <i class='icn-buscar' aria-hidden='true'></i> </button></li><li
				class='nav-item'
			></li><li class='vr d-none d-xl-inline-block ms-xl-3'></li><li
				class='nav-item'
			><div class='dropdown'><button
						class='btn btn-secondary ms-2 ms-xl-3 dropdown-toggle'
						type='button'
						id='nombreUsuario'
						data-bs-toggle='dropdown'
						aria-expanded='false'
						aria-label='Datos personales de fernandez fermin orlando'
					>
						<i class='icn-modo-usuario' aria-hidden='true'></i>
						<span>FERNANDEZ FERMIN ORLANDO</span>
					</button><ul
						class='dropdown-menu dropdown-menu-end s-40'
						aria-labelledby='nombreUsuario'
						role='menubar'
					><li role='menuitem' class='d-xl-none' aria-hidden='true'><div
								class='dropdown-item'
							><i class='icn-modo-usuario' aria-hidden='true'></i>
								<span>FERNANDEZ FERMIN ORLANDO</span></div></li><li
							role='menuitem'
							id='numeroCuil'
							aria-label='cuil/cuit 24-33539061-6'
						><div class='dropdown-item'><i
									class='bi bi-person'
									aria-hidden='true'
								></i>
								<span>24-33539061-6</span></div></li><li
							role='menuitem'
							id='numeroTelefono'
							aria-label='Número de teléfono +54 (266) 4297704'
						><div class='dropdown-item'><i
									class='bi bi-telephone'
									aria-hidden='true'
								></i>
								<span id='inf_telefono'>+54 (266) 4297704</span></div></li><li
							role='menuitem'
							id='correoElectronico'
							aria-label='Correo electrónico fermin2049@gmail.com'
						><div class='dropdown-item'><i
									class='bi bi-envelope'
									aria-hidden='true'
								></i>
								<span id='inf_mail'>fermin2049@gmail.com</span></div></li><li
						></li><li><hr class='dropdown-divider' /></li><li><a
								class='dropdown-item'
								href='/miansessitiov2/Home/CerrarSesion'
								role='link'
							>
								<i class='bi bi-box-arrow-right' aria-hidden='true'></i>
								<span>Cerrar sesión</span>
							</a></li></ul></div></li></ul></div></header>