<!--
    Nav Bar Recepcionista
-->
<div class='wrapper'>
	<aside id='sidebar'>
		<div class='h-100'>
			<div class='sidebar-logo'>
				<a href='#'>BackOffice</a>
			</div>
			<ul class='sidebar-nav'>
				<li class='sidebar-header'>
					Acciones del Sistema
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#paciente'
						aria-expanded='false'
						aria-controls='paciente'
					>
						<i class='fa-regular fa-user pe-2'></i>
						Paciente
					</a>
					<ul
						id='paciente'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='formulario-busqueda'
							>Registrar Busqueda e Inicio de Ordenes de Paciente</a>
						</li>
					</ul>
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#orden'
						aria-expanded='false'
						aria-controls='orden'
					>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Orden de Trabajo
					</a>
					<ul
						id='orden'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='consultaOrdeDeTrabajo'
							>Consulta y cancelacion de Orden de Trabajo</a>
						</li>
					</ul>
				</li>

				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#informe'
						aria-expanded='false'
						aria-controls='informe'
					>
						<i class='fa-solid fa-print pe-2'></i>
						Informe
					</a>
					<ul
						id='informe'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Generar Informe</a>
						</li>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Informe</a>
						</li>
					</ul>
				</li>
				<li class='sidebar-header'>
					Navegador de Soluciones
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#ayuda'
						aria-expanded='false'
						aria-controls='ayuda'
					>
						<i class='fa-solid fa-circle-info pe-2'></i>
						Ayuda y Reporte de Problemas
					</a>
					<ul
						id='ayuda'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Ayuda</a>
						</li>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='mostrar-formulario-registro'
							>Reportar Problemas</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>
	<!--
    Crear y Administrar Paciente
-->
	<div class='main'>

		<main class='content px-3 py-2'>
			<div class='container'>
				<!--
    Administracion inicio de Ordenes de trabajo para pacientes
-->
				<div class='row mb-3'>
					<h3>Bienvenido al Sistema</h3>
					<div
						class='row mt-5 d-none text-light d-flex flex-column align-items-center justify-content-center'
						id='formulario-registro'
					>
						<div id='resultados' class='row mt-4'>
							<h2>Buscar Paciente</h2>
							<div class='col-12 mt-4'>
								<h1>Tabla de Pacientes</h1>
								<div class=''>
									<table
										class='table table-striped display compact text-center'
										style='width:100%'
										id='tablaDePacientes'
									>
										<thead>
											<tr>
												<th>ID</th>
												<th>Nombre</th>
												<th>Apellido</th>
												<th>DNI</th>
												<th>Localidad</th>
												<th>Provincia</th>
												<th>Sexo</th>
												<th>Embarazo</th>
												<th>Fecha de Nacimiento</th>
												<th>Correo Electrónico</th>
												<th>Teléfono</th>
												<th>Obra Social</th>
												<th>Número de Afiliado</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class='text-center'>

							<button
								id='mostrar-formulario-busqueda'
								class='btn btn-primary'
							>Registrar Nuevo Paciente</button>
						</div>
					</div>
					<!--
    Registro de Usario
-->
					<div class='container mt-5 d-none' id='formulario-paciente2'>
						<div class='row'>
							<div class='col-md-6 offset-md-3 text-light'>
								<h2>Formulario de Paciente</h2>
								<form
									action='/pacientes'
									method='post'
									id='formulario-paciente'
								>
									<div class='form-group'>
										<label for='nombre'>Nombre:</label>
										<input
											type='text'
											class='form-control'
											id='nombre'
											name='nombre'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='apellido'>Apellido:</label>
										<input
											type='text'
											class='form-control'
											id='apellido'
											name='apellido'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='dni'>DNI:</label>
										<input
											type='number'
											class='form-control'
											id='dni'
											name='dni'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='provincia'>Provincia:</label>
										<input
											type='text'
											class='form-control'
											id='provincia'
											name='provincia'
											value='San Luis'
											readonly
										/>
									</div>
									<div class='form-group'>
										<label for='localidad'>Localidad:</label>
										<select
											class='form-control'
											id='localidad'
											name='localidad'
											required
										>
											<option value='Algarrobo Grande'>Algarrobo Grande</option>
											<option value='Alsa'>Alsa</option>
											<option value='Alto Lindo'>Alto Lindo</option>
											<option value='Alto Pelado'>Alto Pelado</option>
											<option value='Alto Pencoso'>Alto Pencoso</option>
											<option value='Anchorena'>Anchorena</option>
											<option value='Árbol Solo'>Árbol Solo</option>
											<option value='Arizona'>Arizona</option>
											<option value='Bagual'>Bagual</option>
											<option value='Bajos Hondos'>Bajos Hondos</option>
											<option value='Bajada Nueva'>Bajada Nueva</option>
											<option value='Balcarce'>Balcarce</option>
											<option value='Balde'>Balde</option>
											<option value='Balde de Escudero'>Balde de Escudero</option>
											<option value='Balde de Escurria'>Balde de Escurria</option>
											<option value='Balde de las Torres'>Balde de las Torres</option>
											<option value='Balde de Puertas'>Balde de Puertas</option>
											<option value='Balde Viejo'>Balde Viejo</option>
											<option value='Barranca Colorada'>Barranca Colorada</option>
											<option value='Batavia'>Batavia</option>
											<option value='Beazley'>Beazley</option>
											<option value='Bella Vista'>Bella Vista</option>
											<option value='Buena Esperanza'>Buena Esperanza</option>
											<option value='Buena Vista'>Buena Vista</option>
											<option value='Cabeza de Novillo'>Cabeza de Novillo</option>
											<option value='Caldenadas'>Caldenadas</option>
											<option value='Candelaria'>Candelaria</option>
											<option value='Canteras'>Canteras</option>
											<option value='Cañada Honda'>Cañada Honda</option>
											<option value='Carpintería'>Carpintería</option>
											<option value='Cazador'>Cazador</option>
											<option value='Cerro de Oro'>Cerro de Oro</option>
											<option value='Chalanta'>Chalanta</option>
											<option value='Chimborazo'>Chimborazo</option>
											<option value='Chipiscú'>Chipiscú</option>
											<option value='Chischaquita'>Chischaquita</option>
											<option value='Chosmes'>Chosmes</option>
											<option value='Cochequingán'>Cochequingán</option>
											<option value='Colonia Calzada'>Colonia Calzada</option>
											<option value='Colonia Santa Virginia'>Colonia Santa
												Virginia</option>
											<option value='Colonia Urdániz'>Colonia Urdániz</option>
											<option value='Comandante Granville'>Comandante Granville</option>
											<option value='Concarán'>Concarán</option>
											<option value='Conlara'>Conlara</option>
											<option value='Coronel Alzogaray'>Coronel Alzogaray</option>
											<option value='Coronel Segovia'>Coronel Segovia</option>
											<option value='Cortaderas'>Cortaderas</option>
											<option value='Crámer'>Crámer</option>
											<option value='Cruz de Caña'>Cruz de Caña</option>
											<option value='Daniel Dónovan'>Daniel Dónovan</option>
											<option value='Donado'>Donado</option>
											<option value='El Águila'>El Águila</option>
											<option value='El Baldecito'>El Baldecito</option>
											<option value='El Cadillo'>El Cadillo</option>
											<option value='El Carmen'>El Carmen</option>
											<option value='El Chañar'>El Chañar</option>
											<option value='El Chorrillo'>El Chorrillo</option>
											<option value='El Hormiguero'>El Hormiguero</option>
											<option value='El Manantial Escondido'>El Manantial
												Escondido</option>
											<option value='El Martillo'>El Martillo</option>
											<option value='El Milagro'>El Milagro</option>
											<option value='El Mollar'>El Mollar</option>
											<option value='El Pantanillo'>El Pantanillo</option>
											<option value='El Pastal'>El Pastal</option>
											<option value='El Portezuelo'>El Portezuelo</option>
											<option value='El Porvenir'>El Porvenir</option>
											<option value='El Puesto'>El Puesto</option>
											<option value='El Recuerdo'>El Recuerdo</option>
											<option value='El Retamo'>El Retamo</option>
											<option value='El Rodeo'>El Rodeo</option>
											<option value='El Sauce'>El Sauce</option>
											<option value='El Tala'>El Tala</option>
											<option value='El Volcán'>El Volcán</option>
											<option value='Eleodoro Lobos'>Eleodoro Lobos</option>
											<option value='Estancia Grande'>Estancia Grande</option>
											<option value='Fortín El Patria'>Fortín El Patria</option>
											<option value='Fortuna'>Fortuna</option>
											<option value='Fraga'>Fraga</option>
											<option value='Frisia'>Frisia</option>
											<option value='Gorgonta'>Gorgonta</option>
											<option value='Guanaco Pampa'>Guanaco Pampa</option>
											<option value='Huejeda'>Huejeda</option>
											<option value='Jarilla'>Jarilla</option>
											<option value='Juan Jorba'>Juan Jorba</option>
											<option value='Juan Llerena'>Juan Llerena</option>
											<option value='Juan W. Gez'>Juan W. Gez</option>
											<option value='Juana Koslay'>Juana Koslay</option>
											<option value='Justo Daract'>Justo Daract</option>
											<option value='La Angelina'>La Angelina</option>
											<option value='La Bajada'>La Bajada</option>
											<option value='La Botija'>La Botija</option>
											<option value='La Brea'>La Brea</option>
											<option value='La Calera'>La Calera</option>
											<option value='La Carolina'>La Carolina</option>
											<option value='La Cocha'>La Cocha</option>
											<option value='La Costa'>La Costa</option>
											<option value='La Esquina'>La Esquina</option>
											<option value='La Estrella'>La Estrella</option>
											<option value='La Florida'>La Florida</option>
											<option value='La Irene'>La Irene</option>
											<option value='La Majada'>La Majada</option>
											<option value='La Maroma'>La Maroma</option>
											<option value='La Melina'>La Melina</option>
											<option value='La Nélida'>La Nélida</option>
											<option value='La Pampa Grande'>La Pampa Grande</option>
											<option value='La Puerta'>La Puerta</option>
											<option value='La Punilla'>La Punilla</option>
											<option value='La Punta'>La Punta</option>
											<option value='La Sala'>La Sala</option>
											<option value='La Seña'>La Seña</option>
											<option value='La Toma'>La Toma</option>
											<option value='La Totora'>La Totora</option>
											<option value='La Tranca'>La Tranca</option>
											<option value='La Verde'>La Verde</option>
											<option value='La Vertiente'>La Vertiente</option>
											<option value='Las Aguadas'>Las Aguadas</option>
											<option value='Las Barrancas'>Las Barrancas</option>
											<option value='Las Cañadas'>Las Cañadas</option>
											<option value='Las Chacras'>Las Chacras</option>
											<option value='Las Chimbas'>Las Chimbas</option>
											<option value='Las Gamas'>Las Gamas</option>
											<option value='Las Isletas'>Las Isletas</option>
											<option value='Las Lagunas'>Las Lagunas</option>
											<option value='Las Palomas'>Las Palomas</option>
											<option value='Las Totoras'>Las Totoras</option>
											<option value='Las Vertientes'>Las Vertientes</option>
											<option value='Lafinur'>Lafinur</option>
											<option value='Lagunas Largas'>Lagunas Largas</option>
											<option value='Lavaisse'>Lavaisse</option>
											<option value='Leandro N. Alem'>Leandro N. Alem</option>
											<option value='Libertador General San Martín'>Libertador
												General San Martín</option>
											<option value='Liborio Luna'>Liborio Luna</option>
											<option value='Loma Blanca'>Loma Blanca</option>
											<option value='Lomas Blancas'>Lomas Blancas</option>
											<option value='Los Alanices'>Los Alanices</option>
											<option value='Los Arguelos'>Los Arguelos</option>
											<option value='Los Cajones'>Los Cajones</option>
											<option value='Los Cerrillos'>Los Cerrillos</option>
											<option value='Los Chañares'>Los Chañares</option>
											<option value='Los Chilcas'>Los Chilcas</option>
											<option value='Los Coros'>Los Coros</option>
											<option value='Los Duraznitos'>Los Duraznitos</option>
											<option value='Los Lobos'>Los Lobos</option>
											<option value='Los Molles'>Los Molles</option>
											<option value='Los Ranchos'>Los Ranchos</option>
											<option value='Luján'>Luján</option>
											<option value='Manantial Blanco'>Manantial Blanco</option>
											<option value='Manantiales'>Manantiales</option>
											<option value='Martín de Loyola'>Martín de Loyola</option>
											<option value='Merlo'>Merlo</option>
											<option value='Molino Chico'>Molino Chico</option>
											<option value='Mosmota'>Mosmota</option>
											<option value='Nahuel Mapá'>Nahuel Mapá</option>
											<option value='Naschel'>Naschel</option>
											<option value='Navia'>Navia</option>
											<option value='Nogolí'>Nogolí</option>
											<option value='Nueva Constitución'>Nueva Constitución</option>
											<option value='Nueva Escocia'>Nueva Escocia</option>
											<option value='Nueva Galia'>Nueva Galia</option>
											<option value='Ojo de Agua'>Ojo de Agua</option>
											<option value='Ojos del Río'>Ojos del Río</option>
											<option value='Pantanillo'>Pantanillo</option>
											<option value='Papagayos'>Papagayos</option>
											<option value='Paso Grande'>Paso Grande</option>
											<option value='Paso del Rey'>Paso del Rey</option>
											<option value='Pedernera'>Pedernera</option>
											<option value='Pescadores'>Pescadores</option>
											<option value='Piedras Chatas'>Piedras Chatas</option>
											<option value='Polledo'>Polledo</option>
											<option value='Potrerillo'>Potrerillo</option>
											<option value='Potrero de los Funes'>Potrero de los Funes</option>
											<option value='Pozo del Carril'>Pozo del Carril</option>
											<option value='Pozo del Tala'>Pozo del Tala</option>
											<option value='Punta del Agua'>Punta del Agua</option>
											<option value='Quines'>Quines</option>
											<option value='Ranquelcó'>Ranquelcó</option>
											<option value='Renca'>Renca</option>
											<option value='Rincón del Carmen'>Rincón del Carmen</option>
											<option value='Riocito'>Riocito</option>
											<option value='Río Grande'>Río Grande</option>
											<option value='Río Juan Gómez'>Río Juan Gómez</option>
											<option value='Río Quinto'>Río Quinto</option>
											<option value='Rosario'>Rosario</option>
											<option value='Saladillo'>Saladillo</option>
											<option value='Salado'>Salado</option>
											<option value='Salinas del Bebedero'>Salinas del Bebedero</option>
											<option value='San Eduardo'>San Eduardo</option>
											<option value='San Antonio'>San Antonio</option>
											<option value='San Felipe'>San Felipe</option>
											<option value='San Francisco del Monte de Oro'>San
												Francisco del Monte de Oro</option>
											<option value='San Gerónimo'>San Gerónimo</option>
											<option value='San Ignacio'>San Ignacio</option>
											<option value='San Isidro'>San Isidro</option>
											<option value='San José del Morro'>San José del Morro</option>
											<option value='San Luis'>San Luis</option>
											<option value='San Martín'>San Martín</option>
											<option value='San Martín del Alto Negro'>San Martín del
												Alto Negro</option>
											<option value='San Miguel'>San Miguel</option>
											<option value='San Pablo'>San Pablo</option>
											<option value='San Pedro'>San Pedro</option>
											<option value='San Roque'>San Roque</option>
											<option value='San Salvador'>San Salvador</option>
											<option value='Santa Rosa'>Santa Rosa</option>
											<option value='Santa Rosa del Conlara'>Santa Rosa del
												Conlara</option>
											<option value='Santo Tómas'>Santo Tómas</option>
											<option value='Socoscora'>Socoscora</option>
											<option value='Soven'>Soven</option>
											<option value='Suyuque Nuevo'>Suyuque Nuevo</option>
											<option value='Suyuque Viejo'>Suyuque Viejo</option>
											<option value='Tala Verde'>Tala Verde</option>
											<option value='Talita'>Talita</option>
											<option value='Talleres'>Talleres</option>
											<option value='Tilisarao'>Tilisarao</option>
											<option value='Toro Negro'>Toro Negro</option>
											<option value='Toscal'>Toscal</option>
											<option value='Trapiche'>Trapiche</option>
											<option value='Travesía'>Travesía</option>
											<option value='Tres Amigos'>Tres Amigos</option>
											<option value='Unión'>Unión</option>
											<option value='Usiyal'>Usiyal</option>
											<option value='Vaca Parada'>Vaca Parada</option>
											<option value='Valle de Pancanta'>Valle de Pancanta</option>
											<option value='Varela'>Varela</option>
											<option value='Villa de la Quebrada'>Villa de la Quebrada</option>
											<option value='Villa de Praga'>Villa de Praga</option>
											<option value='Villa del Carmen'>Villa del Carmen</option>
											<option value='Villa General Roca'>Villa General Roca</option>
											<option value='Villa Larca'>Villa Larca</option>
											<option value='Villa Mercedes'>Villa Mercedes</option>
											<option value='Villa Reynolds'>Villa Reynolds</option>
											<option value='Villa Salles'>Villa Salles</option>
											<option value='Zanjitas'>Zanjitas</option>
										</select>
									</div>

									<div class='form-group'>
										<label for='sexo'>Sexo:</label>
										<select class='form-control' id='sexo' name='sexo' required>
											<option value=''>Selecciona el sexo</option>
											<option value='masculino'>Masculino</option>
											<option value='femenino'>Femenino</option>
										</select>
									</div>
									<div class='form-group'>
										<label for='embarazo'>Embarazo:</label>
										<div class='form-check'>
											<input
												type='radio'
												class='form-check-input'
												id='embarazo-si'
												name='embarazo'
												value='true'
												required
											/>
											<label
												class='form-check-label'
												for='embarazo-si'
											>Sí</label>
										</div>
										<div class='form-check'>
											<input
												type='radio'
												class='form-check-input'
												id='embarazo-no'
												name='embarazo'
												value='false'
												required
											/>
											<label
												class='form-check-label'
												for='embarazo-no'
											>No</label>
										</div>
									</div>
									<div class='form-group'>
										<label for='fecha_nac'>Fecha de Nacimiento:</label>
										<input
											type='date'
											class='form-control'
											id='fecha_nac'
											name='fecha_nac'
										/>
									</div>
									<div class='form-group'>
										<label for='correo_electronico'>Correo Electrónico:</label>
										<input
											type='email'
											class='form-control'
											id='correo_electronico'
											name='correo_electronico'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='telefono'>Teléfono:</label>
										<input
											type='number'
											class='form-control'
											id='telefono'
											name='telefono'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='obra_social'>Obra Social:</label>
										<input
											type='text'
											class='form-control'
											id='obra_social'
											name='obra_social'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='num_afiliado'>Número de Afiliado:</label>
										<input
											type='text'
											class='form-control'
											id='num_afiliado'
											name='num_afiliado'
											required
										/>
									</div>
									<button
										type='submit'
										class='btn btn-primary mt-5 container fluid'
									>Enviar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--
    Ordenes de trabajo
-->
			<div
				class='container d-none mt-5 text-light text-center d-flex align-items-center justify-content-center'
				id='formulario-orden-trabajo'
			>

				<div id='formulario-orden' class='mt-4'>
					<h2>Formulario de Orden de Trabajo</h2>
					<div class='form-group'>
						<label for='fechaCreacion'>Fecha Orden de Trabajo:</label>
						<div class='input-group justify-content-center'>
							<div class='input-group-append'>
								<input
									type='datetime-local'
									class='form-control'
									id='fecha_ord'
									name='fecha_ord'
								/>
							</div>
						</div>

					</div>
					<div class='form-row justify-content-center'>

						<div class='col-md-6 mx-auto'>
							<label for='diagnostico'>Diagnóstico:</label>
							<select
								class='form-control'
								id='diagnostico'
								name='diagnostico'
								required
							>
								<option value='A00-B99'>CIERTAS ENFERMEDADES INFECCIOSAS Y
									PARASITARIAS (A00-B99)</option>
								<option value='C00-D49'>NEOPLASIAS (C00-D49)</option>
								<option value='D50-D89'>ENFERMEDADES DE LA SANGRE Y ÓRGANOS
									HEMATOPOYÉTICOS Y CIERTOS TRASTORNOS QUE AFECTAN AL MECANISMO
									INMUNOLÓGICO (D50-D89)</option>
								<option value='E00-E89'>ENFERMEDADES ENDOCRINAS, NUTRICIONALES Y
									METABÓLICAS (E00-E89)</option>
								<option value='F01-F99'>TRASTORNOS MENTALES, DEL COMPORTAMIENTO
									Y DEL DESARROLLO NEUROLÓGICO (F01-F99)</option>
								<option value='G00-G99'>ENFERMEDADES DEL SISTEMA NERVIOSO
									(G00-G99)</option>
								<option value='H00-H59'>ENFERMEDADES DEL OJO Y SUS ANEXOS
									(H00-H59)</option>
								<option value='H60-H95'>ENFERMEDADES DEL OÍDO Y DE LA APÓFISIS
									MASTOIDES (H60-H95)</option>
								<option value='I00-I99'>ENFERMEDADES DEL APARATO CIRCULATORIO
									(I00-I99)</option>
								<option value='J00-J99'>ENFERMEDADES DEL APARATO RESPIRATORIO
									(J00-J99)</option>
								<option value='K00-K95'>ENFERMEDADES DEL APARATO DIGESTIVO
									(K00-K95)</option>
								<option value='L00-L99'>ENFERMEDADES DE LA PIEL Y DEL TEJIDO
									SUBCUTÁNEO (L00-L99)</option>
								<option value='M00-M99'>ENFERMEDADES DEL APARATO
									MUSCULOESQUELÉTICO Y DEL TEJIDO CONECTIVO (M00-M99)</option>
								<option value='N00-N99'>ENFERMEDADES DEL APARATO GENITOURINARIO
									(N00-N99)</option>
								<option value='O00-O9A'>EMBARAZO, PARTO Y PUERPERIO (O00-O9A)</option>
								<option value='P00-P96'>CIERTAS AFECCIONES ORIGINADAS EN EL
									PERÍODO PERINATAL (P00-P96)</option>
								<option value='Q00-Q99'>MALFORMACIONES CONGÉNITAS, DEFORMIDADES
									Y ANOMALÍAS CROMOSÓMICAS (Q00-Q99)</option>
								<option value='R00-R99'>SÍNTOMAS, SIGNOS Y RESULTADOS ANORMALES
									DE PRUEBAS COMPLEMENTARIAS, NO CLASIFICADOS BAJO OTRO CONCEPTO
									(R00-R99)</option>
								<option value='S00-T88'>LESIONES TRAUMÁTICAS, ENVENENAMIENTOS Y
									OTRAS CONSECUENCIAS DE CAUSAS EXTERNAS (S00-T88)</option>
								<option value='V00-Y99'>CAUSAS EXTERNAS DE MORBILIDAD (V00-Y99)</option>
								<option value='Z00-Z99'>FACTORES QUE INFLUYEN EN EL ESTADO DE
									SALUD Y CONTACTO CON LOS SERVICIOS SANITARIOS (Z00-Z99)</option>
								<option value='U00-U85'>CÓDIGOS PARA PROPÓSITOS ESPECIALES
									(U00-U85)</option>
							</select>
						</div>

						<div class='col-md-5 mx-auto'>
							<label for='pacienteId'>Datos del Paciente:</label>
							<div class='input-group justify-content-center'>
								<table class='table table-bordered text-center'>
									<tbody>
										<tr>

											<td id='nombreOrden'></td>

											<td id='apellidoOrden'></td>

											<td id='dniOrden'></td>

											<td id='edadOrden'></td>

											<td id='sexoOrden'></td>

											<td id='embarazoOrden'></td>

											<td id='obra_socialOrden'></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class='form-group'>
						<label for='medicoId'>Médico Solicitante:</label>
						<div class='input-group justify-content-center'>
							<div class='input-group-append'>
								<button
									type='button'
									class='btn btn-primary'
									id='cargarMedico'
								>Cargar Datos del Médico</button>
							</div>
						</div>
					</div>
					<div class='form-group'>
						<label for='muestraRequerida'>Muestra Requerida:</label>
						<div id='formulariosContainer'></div>
					</div>

					<div class='form-group'>
						<label for='examenId2'>Examen Agregados a Realizar:</label>
						<div class='input-group justify-content-center'>
							<div class='input-group-append'>
								<div class='d-flex flex-column justify-content-center'>
									<table
										class='table table-bordered text-center'
										id='tablaExamenesAgregados'
									>
										<thead>
											<tr>
												<th>ID del Examen</th>
												<th>Codigo</th>
												<th>Descripción</th>
												<th>Requisitos del Examen</th>
												<th>Tiempo del Examen</th>
												<th>Quitar</th>
											</tr>
										</thead>
										<tbody>
											<!-- Aquí se mostrarán los exámenes seleccionados -->
										</tbody>
									</table>

								</div>

							</div>
						</div>
					</div>
					<button
						type='submit'
						class='btn btn-success mt-3'
						id='crearOrdenTrabajo'
					>Crear Orden de Trabajo</button>
					<div class='form-group'>
						<label for='examenId'>Examenes:</label>
						<div class='input-group justify-content-center'>
							<div class='input-group-append'>
								<div class='d-flex flex-column justify-content-center'>
									<table
										class='table table-bordered text-center'
										id='tablaExamenes'
									>
										<thead>
											<tr>
												<th>ID del Examen</th>
												<th>Codigo</th>
												<th>Descripción</th>
												<th>Requisitos del Examen</th>
												<th>Tiempo del Examen</th>
												<th>Agregar</th>
											</tr>
										</thead>
										<tbody>
											<!-- Aquí se mostrarán los exámenes seleccionados -->
										</tbody>
									</table>

								</div>

							</div>
						</div>
					</div>
					<div class='d-flex justify-content-center'>

					</div>
				</div>
			</div>
			<!--
    Cancelacion y Consultas de ordenes de Trabajo
-->

			<div class='container d-none' id='tablaConsultaOrdenes'>
				<h2>Tabla de Órdenes de Trabajo</h2>
				<table
					class='table table-bordered table-striped'
					id='tablaAdministrarOrdenes'
				>
					<thead>
						<tr>
							<th>ID</th>
							<th>Fecha de Creación</th>
							<th>Estado</th>
							<th>Diagnóstico</th>
							<th>Apellido Paciente</th>
							<th>DNI Paciente</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
				<h2>Tabla de Órdenes de Trabajo Caceladas</h2>
				<table
					class='table table-bordered table-striped'
					id='tablaAdministrarOrdenes2'
				>
					<thead>
						<tr>
							<th>ID</th>
							<th>Fecha de Creación</th>
							<th>Estado</th>
							<th>Diagnóstico</th>
							<th>Apellido Paciente</th>
							<th>DNI Paciente</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>