body {
	font-family: 'Poppins', sans-serif !important;
	background-image: url('/img/fondoLaboratorio.png'),
		-o-repeating-linear-gradient(135deg, #007bff, #007bff 10px, #fff 10px, #fff
					20px);
	background-image: url('/img/fondoLaboratorio.png'),
		repeating-linear-gradient(
			135deg,
			#007bff,
			#007bff 10px,
			#fff 10px,
			#fff 20px
		);

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.card-header {
	background-color: #007bff;
	color: #fff;
	font-weight: bold;
}

.card-body {
	padding: 20px;
}

.btn {
	background-color: #007bff;
	color: #fff;
}

.btn:hover {
	background-color: #0056b3;
}

.select-fila:hover {
	background-color: lightsalmon;
	cursor: pointer;
}
.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.form-control,
.btn {
	border-radius: 20px; /* Ajusta este valor según prefieras */
}
.btn {
	background-image: linear-gradient(to right, #007bff, #6699ff);
}
body {
	line-height: 1.6;
}

.card-header,
.btn {
	letter-spacing: 1px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.card {
	animation: fadeIn 0.5s ease-out;
}

.form-control:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	border-color: #007bff;
}
