<div class='wrapper'>
	<aside id='sidebar'>
		<div class='h-100'>
			<div class='sidebar-logo'>
				<a href='#'>BackOffice</a>
			</div>
			<ul class='sidebar-nav'>
				<li class='sidebar-header'>
					Acciones del Sistema
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#paciente'
						aria-expanded='false'
						aria-controls='paciente'
					>
						<i class='fa-regular fa-user pe-2'></i>
						Paciente
					</a>
					<ul
						id='paciente'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='formulario-busqueda'
							>Registrar Paciente</a>
						</li>
					</ul>
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#orden'
						aria-expanded='false'
						aria-controls='orden'
					>
						<i class='fa-regular fa-file-lines pe-2'></i>
						Orden de Trabajo
					</a>
					<ul
						id='orden'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Generar Orden de Trabajo</a>
						</li>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Orden de Trabajo</a>
						</li>
					</ul>
				</li>
				<li class='sidebar-item'>
					<a href='#' class='sidebar-link'>
						<i class='fa-solid fa-flask-vial pe-2'></i>
						Recepción de Muestras
					</a>
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#informe'
						aria-expanded='false'
						aria-controls='informe'
					>
						<i class='fa-solid fa-print pe-2'></i>
						Informe
					</a>
					<ul
						id='informe'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Generar Informe</a>
						</li>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Informe</a>
						</li>
					</ul>
				</li>
				<li class='sidebar-header'>
					Navegador de Soluciones
				</li>
				<li class='sidebar-item'>
					<a
						href='#'
						class='sidebar-link collapsed'
						data-bs-toggle='collapse'
						data-bs-target='#ayuda'
						aria-expanded='false'
						aria-controls='ayuda'
					>
						<i class='fa-solid fa-circle-info pe-2'></i>
						Ayuda y Reporte de Problemas
					</a>
					<ul
						id='ayuda'
						class='sidebar-dropdown list-unstyled collapse'
						data-bs-parent='#sidebar'
					>
						<li class='sidebar-item'>
							<a href='#' class='sidebar-link'>Consultar Ayuda</a>
						</li>
						<li class='sidebar-item'>
							<a
								href='#'
								class='sidebar-link'
								id='mostrar-formulario-registro'
							>Reportar Problemas</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>
	<!-- Main Component -->
	<div class='main'>

		<main class='content px-3 py-2'>
			<div class='container-fluid'>
				<div class='mb-3'>
					<h3>Bienvenido al Sistema</h3>
					<div
						class='container mt-5 d-none text-light d-flex align-items-center justify-content-center'
						id='formulario-registro'
					>
						<div class='text-center'>
							<h2>Buscar Paciente</h2>
							<button
								id='mostrar-formulario-busqueda'
								class='btn btn-primary'
							>Registrar Nuevo Paciente</button>
							<div id='busqueda-pacientes' class='mt-4'>
								<div class='form-group'>
									<label for='criterio-busqueda'>Selecciona un criterio de
										búsqueda:</label>
									<select id='criterio-busqueda' class='form-control'>
										<option value='dni'>DNI</option>
										<option value='correo'>Correo Electrónico</option>
										<option value='telefono'>Teléfono</option>
									</select>
								</div>
								<div class='form-group'>
									<label for='valor-busqueda'>Ingresa el valor de búsqueda:</label>
									<input type='text' id='valor-busqueda' class='form-control' />
								</div>
								<button id='buscar-paciente' class='btn btn-primary mt-3'>Buscar
									Paciente</button>
							</div>
							<div id='resultados' class='mt-4'>
								<!-- La tabla de resultados se generará aquí -->

							</div>
						</div>
					</div>

					<div class='container mt-5 d-none' id='formulario-paciente2'>
						<div class='row'>
							<div class='col-md-6 offset-md-3 text-light'>
								<h2>Formulario de Paciente</h2>
								<form
									action='/pacientes'
									method='post'
									id='formulario-paciente'
								>
									<div class='form-group'>
										<label for='nombre'>Nombre:</label>
										<input
											type='text'
											class='form-control'
											id='nombre'
											name='nombre'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='apellido'>Apellido:</label>
										<input
											type='text'
											class='form-control'
											id='apellido'
											name='apellido'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='dni'>DNI:</label>
										<input
											type='number'
											class='form-control'
											id='dni'
											name='dni'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='localidad'>Localidad:</label>
										<input
											type='text'
											class='form-control'
											id='localidad'
											name='localidad'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='provincia'>Provincia:</label>
										<input
											type='text'
											class='form-control'
											id='provincia'
											name='provincia'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='sexo'>Sexo:</label>
										<select class='form-control' id='sexo' name='sexo' required>
											<option value=''>Selecciona el sexo</option>
											<option value='masculino'>Masculino</option>
											<option value='femenino'>Femenino</option>
										</select>
									</div>
									<div class='form-group'>
										<label for='embarazo'>Embarazo:</label>
										<div class='form-check'>
											<input
												type='radio'
												class='form-check-input'
												id='embarazo-si'
												name='embarazo'
												value='true'
												required
											/>
											<label
												class='form-check-label'
												for='embarazo-si'
											>Sí</label>
										</div>
										<div class='form-check'>
											<input
												type='radio'
												class='form-check-input'
												id='embarazo-no'
												name='embarazo'
												value='false'
												required
											/>
											<label
												class='form-check-label'
												for='embarazo-no'
											>No</label>
										</div>
									</div>
									<div class='form-group'>
										<label for='fecha_nac'>Fecha de Nacimiento:</label>
										<input
											type='date'
											class='form-control'
											id='fecha_nac'
											name='fecha_nac'
										/>
									</div>
									<div class='form-group'>
										<label for='correo_electronico'>Correo Electrónico:</label>
										<input
											type='email'
											class='form-control'
											id='correo_electronico'
											name='correo_electronico'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='telefono'>Teléfono:</label>
										<input
											type='number'
											class='form-control'
											id='telefono'
											name='telefono'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='obra_social'>Obra Social:</label>
										<input
											type='text'
											class='form-control'
											id='obra_social'
											name='obra_social'
											required
										/>
									</div>
									<div class='form-group'>
										<label for='num_afiliado'>Número de Afiliado:</label>
										<input
											type='text'
											class='form-control'
											id='num_afiliado'
											name='num_afiliado'
											required
										/>
									</div>
									<button
										type='submit'
										class='btn btn-primary mt-5 container fluid'
									>Enviar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='container d-none' id='formulario-actualizar'>
				<h2 class='mt-4'>Actualizar Paciente</h2>
				<form action='/pacientes/actualizar' method='post'>
					<div class='row'>
						<div class='col-md-6'>
							<input type='hidden' id='pacienteId' name='pacienteId' />
							<div class='form-group'>
								<label for='nombre'>Nombre:</label>
								<input
									type='text'
									class='form-control'
									id='nombre2'
									name='nombre'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='apellido'>Apellido:</label>
								<input
									type='text'
									class='form-control'
									id='apellido2'
									name='apellido'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='dni'>DNI:</label>
								<input
									type='number'
									class='form-control'
									id='dni2'
									name='dni'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='localidad'>Localidad:</label>
								<input
									type='text'
									class='form-control'
									id='localidad2'
									name='localidad'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='provincia'>Provincia:</label>
								<input
									type='text'
									class='form-control'
									id='provincia2'
									name='provincia'
									required
								/>
							</div>
						</div>
						<div class='col-md-6'>
							<div class='form-group'>
								<label for='sexo'>Sexo:</label>
								<select class='form-control' id='sexo2' name='sexo' required>
									<option value=''>Selecciona el sexo</option>
									<option value='masculino'>Masculino</option>
									<option value='femenino'>Femenino</option>
								</select>
							</div>
							<div class='form-group'>
								<label for='embarazo'>Embarazo:</label>
								<div class='form-check'>
									<input
										type='radio'
										class='form-check-input'
										id='embarazo-si2'
										name='embarazo'
										value='true'
										required
									/>
									<label class='form-check-label' for='embarazo-si2'>Sí</label>
								</div>
								<div class='form-check'>
									<input
										type='radio'
										class='form-check-input'
										id='embarazo-no2'
										name='embarazo'
										value='false'
										required
									/>
									<label class='form-check-label' for='embarazo-no2'>No</label>
								</div>
							</div>
							<div class='form-group'>
								<label for='fecha_nac'>Fecha de Nacimiento:</label>
								<input
									type='date'
									class='form-control'
									id='fecha_nac2'
									name='fecha_nac'
								/>
							</div>
							<div class='form-group'>
								<label for='correo_electronico'>Correo Electrónico:</label>
								<input
									type='email'
									class='form-control'
									id='correo_electronico2'
									name='correo_electronico'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='telefono'>Teléfono:</label>
								<input
									type='number'
									class='form-control'
									id='telefono2'
									name='telefono'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='obra_social'>Obra Social:</label>
								<input
									type='text'
									class='form-control'
									id='obra_social2'
									name='obra_social'
									required
								/>
							</div>
							<div class='form-group'>
								<label for='num_afiliado'>Número de Afiliado:</label>
								<input
									type='text'
									class='form-control'
									id='num_afiliado2'
									name='num_afiliado'
									required
								/>
							</div>
						</div>
					</div>
					<div class='text-center'>
						<button
							type='submit'
							class='btn btn-primary mt-3'
						>Actualizar</button>
					</div>
				</form>
			</div>

		</main>
	</div>
</div>